/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
  background-color: #f8f8f8;
}

html {
  scroll-behavior: smooth;
}

.app {
  width: 100%;
  min-height: 100vh;
}
